<div class="account-pages pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
          <a class="auth-logo mb-5 d-block">
            <img
              src="../../../assets/logoFull.png"
              alt=""
              height="40"
              class="logo logo-dark"
            />
          </a>
        </div>

        <div class="aboveFormText">
          <h4>Sign up</h4>
          <p class="mb-4 slogan">Get your ChatHub account now.</p>
        </div>

        <div class="formContainer">
          <div class="formDiv">
            <form class="ng-pristine ng-valid ng-touched" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="" class="form-label">Username</label>
                <div
                  class="input-group mb-3 bg-soft-light input-group-lg rounded-lg"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text border-light text-muted">
                      <i style="color: white" class="fa-regular fa-user"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="inputclass form-control bg-soft-light border-light ng-valid ng-dirty ng-touched"
                    formControlName="username"
                    placeholder="Enter your username"
                  />
                </div>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <div
                  class="input-group mb-3 bg-soft-light input-group-lg rounded-lg"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text border-light text-muted">
                      <i
                        style="color: white"
                        class="fa-regular fa-envelope"
                      ></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="inputclass form-control bg-soft-light border-light ng-valid ng-dirty ng-touched"
                    formControlName="email"
                    placeholder="Enter your Email"
                  />
                </div>
              </div>

              <div class="form-group mb-4">
                <label for="" class="form-label">Password</label>
                <div
                  class="input-group mb-3 bg-soft-light input-group-lg rounded-lg"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text border-light text-muted">
                      <i style="color: wheat" class="fa fa-lock"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    class="inputclass form-control bg-soft-light border-light ng-valid ng-dirty ng-touched"
                    formControlName="password"
                    placeholder="Enter your Password"
                    #SignupPasswordInput
                  />
                  <span class="eyePass">
                    <i
                    class="fa fa-eye"
                    *ngIf="showPass"
                    (click)="togglePassword(SignupPasswordInput)"
                  ></i>
                  <i
                    class="fa fa-eye-slash"
                    *ngIf="!showPass"
                    (click)="togglePassword(SignupPasswordInput)"
                  ></i>
                  </span>
                </div>
              </div>

              <div class="d-grid">
                <button class="mat-button" mat-raised-button>Sign In</button>
              </div>
              <div class="mt-4 text-center">
                <p class="text-muted mb-0">
                  By registering you agree to the ChatHub
                  <a class="text-primary">Terms of Use</a>
                </p>
              </div>
            </form>
          </div>
        </div>

        <div class="mt-5 text-center">
          <p>
            Already have an account ?
            <a class="fw-medium text-primary" routerLink="/login"> Signin </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
