<div class="groups-page me-lg-1">
  <div class="container">
    <div class="px-4 pt-4">
      <div class="navbar navbar-light">
        <h3 class="group-title">Groups</h3>
        <div class="mb-2">
          <!-- <i class="fas fa-user-friends"></i> -->
          <i class="ri-group-line" style="font-size: 1.2em; cursor: pointer;" (click)="openDialog()"></i>
        </div>
      </div>
      <div class="Search">
        <input
          class="form-control search mt-3"
          type="search"
          placeholder="Search groups..."
          aria-label="Search"
        />
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div class="group-box" *ngFor="let item of groups">
      <div class="group-block">
        <div class="imgbx">
          <span class="group-name shadow">{{item.name | firstWord | uppercase }}</span>
        </div>
        <div class="details">
          <div class="listHead">
            <h4>#{{item.name}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
