<div class="modal-content">
  <div _ngcontent-elo-c125="" class="modal-content">
    <div _ngcontent-elo-c125="" class="modal-header">
      <h5
        _ngcontent-elo-c125=""
        id="addgroup-exampleModalLabel"
        class="modal-title font-size-16"
      >
        Create New Group
      </h5>
      <button
        _ngcontent-elo-c125=""
        type="button"
        data-dismiss="modal"
        aria-label="Close"
        class="btn-close"
      ></button>
    </div>
    <div _ngcontent-elo-c125="" class="modal-body p-4">
      <form
        _ngcontent-elo-c125=""
        novalidate=""
        class="ng-untouched ng-pristine ng-valid"
      >
        <div _ngcontent-elo-c125="" class="mb-4">
          <label
            _ngcontent-elo-c125=""
            for="addgroupname-input"
            class="form-label"
            >Group Name</label
          ><input
            _ngcontent-elo-c125=""
            type="text"
            id="addgroupname-input"
            class="form-control"
            placeholder="Enter Group Name"
          />
        </div>
        <div _ngcontent-elo-c125="" class="mb-4">
          <label _ngcontent-elo-c125="" class="form-label">Group Members</label>
          <div _ngcontent-elo-c125="" class="mb-3">
            <button
              _ngcontent-elo-c125=""
              type="button"
              data-toggle="collapse"
              aria-controls="collapseExample"
              class="btn btn-light btn-sm"
              aria-expanded="false"
            >
              Select Members
            </button>
          </div>
          <div
            _ngcontent-elo-c125=""
            id="groupmembercollapse"
            class="collapse"
            ng-reflect-collapsed="true"
          >
            <div _ngcontent-elo-c125="" class="card border">
              <div _ngcontent-elo-c125="" class="card-header">
                <h5 _ngcontent-elo-c125="" class="font-size-15 mb-0">
                  Contacts
                </h5>
              </div>
              <div _ngcontent-elo-c125="" class="card-body p-2">
                <perfect-scrollbar
                  _ngcontent-elo-c125=""
                  data-simplebar=""
                  style="height: 150px"
                  ><div
                    style="position: static"
                    class="ps"
                    ng-reflect-disabled="false"
                  >
                    <div class="ps-content">
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          A
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck1"
                                checked=""
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck1"
                                class="form-check-label"
                                >Albert Rodarte</label
                              >
                            </div>
                          </li>
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck2"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck2"
                                class="form-check-label"
                                >Allison Etter</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          C
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck3"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck3"
                                class="form-check-label"
                              >
                                Craig Smiley</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          D
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck4"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck4"
                                class="form-check-label"
                              >
                                Daniel Clay</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          I
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck5"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck5"
                                class="form-check-label"
                              >
                                Iris Wells</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          J
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck6"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck6"
                                class="form-check-label"
                                >Juan Flakes</label
                              >
                            </div>
                          </li>
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck7"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck7"
                                class="form-check-label"
                                >John Hall</label
                              >
                            </div>
                          </li>
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck8"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck8"
                                class="form-check-label"
                                >Joy Southern</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          M
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck9"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck9"
                                class="form-check-label"
                                >Mary Farmer</label
                              >
                            </div>
                          </li>
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck10"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck10"
                                class="form-check-label"
                                >Mark Messer</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          P
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck11"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck11"
                                class="form-check-label"
                              >
                                Phillis Griffin</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          R
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck12"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck12"
                                class="form-check-label"
                              >
                                Rocky Jackson</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div _ngcontent-elo-c125="">
                        <div
                          _ngcontent-elo-c125=""
                          class="p-3 font-weight-bold text-primary"
                        >
                          S
                        </div>
                        <ul
                          _ngcontent-elo-c125=""
                          class="list-unstyled contact-list"
                        >
                          <li _ngcontent-elo-c125="">
                            <div _ngcontent-elo-c125="" class="form-check">
                              <input
                                _ngcontent-elo-c125=""
                                type="checkbox"
                                id="memberCheck13"
                                class="form-check-input"
                              /><label
                                _ngcontent-elo-c125=""
                                for="memberCheck13"
                                class="form-check-label"
                                >Sara Muller</label
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px">
                      <div
                        class="ps__thumb-x"
                        tabindex="0"
                        style="left: 0px; width: 0px"
                      ></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px">
                      <div
                        class="ps__thumb-y"
                        tabindex="0"
                        style="top: 0px; height: 0px"
                      ></div>
                    </div></div
                ></perfect-scrollbar>
              </div>
            </div>
          </div>
        </div>
        <div _ngcontent-elo-c125="" class="form-group">
          <label
            _ngcontent-elo-c125=""
            for="addgroupdescription-input"
            class="form-label"
            >Description</label
          ><textarea
            _ngcontent-elo-c125=""
            id="addgroupdescription-input"
            rows="3"
            class="form-control"
            placeholder="Enter description"
          ></textarea>
        </div>
      </form>
    </div>
    <div _ngcontent-elo-c125="" class="modal-footer">
      <button
        _ngcontent-elo-c125=""
        type="button"
        data-dismiss="modal"
        class="btn btn-link"
      >
        Close</button
      ><button _ngcontent-elo-c125="" type="button" class="btn btn-primary">
        Create Groups
      </button>
    </div>
  </div>
</div>
