::ng-deep body {
  background-color: #303841;
  color: white;

  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);

  line-height: var(--bs-body-line-height);
  color: #a6b0cf;
  text-align: var(--bs-body-text-align);

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.auth-logo .logo {
  margin: 0px auto;
  mix-blend-mode: lighten;
}

.aboveFormText {
  text-align: center;
  margin-top: 5em;
  color: whitesmoke;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formDiv {
  background-color: #262e35;
  padding: 8%;
  border-radius: 5px;
}

h4 {
  font-size: large;
}
.slogan {
  font-size: small;
  color: rgb(163, 151, 151);
}
.input-group-text {
  background-color: #36404a;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  /* border: 1px solid var(--bs-input-group-addon-border-color); */
  border-radius: 0.25rem;
}
.border-light {
  border-color: #353e48 !important;
}
.inputclass {
  height: 30px;
  background-color: #303841;
  color: white;
}
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

::placeholder {
  color: rgb(163, 151, 151);
}

.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text,
.input-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.4rem;
}
.input-group > .form-control,
.input-group > .form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  /* color: var(--bs-body-color); */
  background-clip: padding-box;
  border: 1px solid var(--bs-input-border-color);
  -webkit-appearance: none;
  appearance: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.form-label {
  font-size: smaller;
}
.font-size-13 {
  font-size: 13px !important;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #9ba2bb !important;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M9.75 15.861L5.089 11.2a1 1 0 111.414-1.414l3.35 3.35 6.636-6.637a1 1 0 111.414 1.414l-7.05 7.05a1 1 0 01-1.414 0z'/%3E%3C/svg%3E");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  .form-check-input {
    transition: none;
  }
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #f7f7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);

  appearance: none;
  -webkit-print-color-adjust: exact;
}

label {
  display: inline-block;
  font-weight: 500;
  font-size: smaller;
}

.form-check {
  display: block;
  min-height: 1.40625rem;
  padding-left: 1.5em;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.mat-button {
  background-color: #3f51b5;
  color: white;
  height: 30px;
}

@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
.fw-medium {
  font-weight: 500;
  cursor: pointer;
}
p {
  font-size: smaller;
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 12px);
  padding-left: var(--bs-gutter-x, 12px);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .pt-sm-5 {
    padding-top: 3rem !important;
  }
}
@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}


@media (max-width: 576px) {
  .col-md-8 {
    width: 100%;
  }
}

.form-check-input:checked {
  background-color: #3f51b5;
  border-color: #3f51b5;
}