<div class="modal-content">
  <div _ngcontent-hvn-c115="" class="modal-content">
    <div _ngcontent-hvn-c115="" class="modal-header">
      <h5
        _ngcontent-hvn-c115=""
        id="addContact-exampleModalLabel"
        class="modal-title font-size-16"
      >
        Add Contact
      </h5>
      <button _ngcontent-hvn-c115="" type="button" class="btn-close" (click)="onNoClick()"></button>
    </div>
    <div _ngcontent-hvn-c115="" class="modal-body p-4">
      <form
        _ngcontent-hvn-c115=""
        novalidate=""
        class="ng-untouched ng-pristine ng-valid"
      >
        <div _ngcontent-hvn-c115="" class="mb-3">
          <label
            _ngcontent-hvn-c115=""
            for="addcontactemail-input"
            class="form-label"
            >Email</label
          ><input
            _ngcontent-hvn-c115=""
            type="email"
            id="addcontactemail-input"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div _ngcontent-hvn-c115="" class="mb-3">
          <label
            _ngcontent-hvn-c115=""
            for="addcontact-invitemessage-input"
            class="form-label"
            >Invatation Message</label
          ><textarea
            _ngcontent-hvn-c115=""
            id="addcontact-invitemessage-input"
            rows="3"
            class="form-control"
            placeholder="Enter Message"
          ></textarea>
        </div>
      </form>
    </div>
    <div _ngcontent-hvn-c115="" class="modal-footer">
      <button _ngcontent-hvn-c115="" type="button" class="btn btn-link" (click)="onNoClick()">
        Close</button
      ><button _ngcontent-hvn-c115="" type="button" class="btn btn-primary">
        Invite Contact
      </button>
    </div>
  </div>
</div>
