html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

i {
  color: #a6b0cf;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e1e9f1;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #9aa1b9;
}

/* .my-custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 25px;
  top: 20px;
} */


.my-custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 25px;
  top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  white-space: nowrap;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .my-custom-snackbar {
    right: 15px;
    top: 15px;
    font-size: 12px;
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .my-custom-snackbar {
    right: 10px;
    top: 10px;
    font-size: 10px;
    padding: 6px 10px;
  }
}

.btn-primary {
  color: #fff;
  background-color: #7269ef;
  border-color: #7269ef;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6159cb;
  border-color: #5b54bf;
}